$imageBlock-padding-top: 50px;

.block-image {
  padding-top: $imageBlock-padding-top;
  max-width: $max-content-width;
  margin: 0 auto;

  @extend .content-padding-desktop;

  img {
    width: 100%;
  }
}