$col-modal-bg: $theme-col-real-black;
$col-modal-close: $theme-col-white;

$content-min-height: 600px;


#app {
  margin: 0 auto;
  font-family: $font-default;

  .loading {
    background-color: transparent;
    width: 100%;
    text-align: center;
    height: 100vh;
    padding-top: 200px;
  }
}

#content {
  margin: 0 auto;
  position: relative;
  top: 0;
  min-height: $content-min-height;

  @include respond-to('small') {
    padding-left: $content-padding-left-right-mobile;
    padding-right: $content-padding-left-right-mobile;
  }
}

#app-wrapper {
  background-color: white;
}

.menu-hidden {
  display: none;

  @include respond-to('small') {
    display: block;
  }
}

