$title-wrapper-padding-top: 57px;
$title-wrapper-padding-bottom: 81px;
$subtitle-padding-top: 34px;

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: $title-wrapper-padding-top;
  padding-bottom: $title-wrapper-padding-bottom;
  max-width: $max-content-width;
  margin: 0 auto;
  font-family: $font-bold;

  @include respond-to('small') {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  @extend .content-padding-desktop;
}

.subtitle {
  padding-top: $subtitle-padding-top;

  @include respond-to('small') {
    padding-top: 25px;
  }
}

