.block-iframe-wrapper {
  padding-top: 53.5px;
  max-width: $max-content-width;
  margin: 0 auto;

  .block-iframe {
    position: relative;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}