$theme-col-real-black: #000000;
$theme-col-black: #151515;
$theme-col-white: #fff;
$theme-col-mud: #8b8977;
$theme-col-mud-dark: #5B5B59;
$theme-col-blue: #06323D;
$navigation-color: #272727;

$wepub-col-turquoise: #69FFDB;
$wepub-col-grey-black: #1e1e1e;
$wepub-col-dark-grey: #5a5a5a;
$wepub-col-dark-mid-grey: #b2b2b2;
$wepub-col-mid-grey: #fafafa;
$wepub-col-light-grey: #ededed;
