$theme-col-real-black: #000000;
$theme-col-black: #151515;

$theme-col-white: #fff;

$theme-col-grey: #8a7f85;

$theme-col-grey-bg: rgba(51, 112, 127, .05);
$theme-col-grey-light: #b1afb0;
$theme-col-grey-lighter: #f2f3ed;

$theme-col-mud: #8b8977;
$theme-col-mud-light: #808179;
$theme-col-mud-lighter: #c4c2b0;
$theme-col-mud-dark: #505050;

$theme-col-green-light: #8eba19;
$theme-col-green: #4a9805;
$theme-col-green-kiwi: #95c11f;
$theme-col-violet: #aa0050;

$theme-col-blue: #06323D;
$theme-col-mustard: #B2A409;


$navigation-color: #272727;
