html {
  color: $col-text-primary;
  font-size: 21px;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include respond-to('small') {
    font-size: 21px;
  }

}

a {
  color: $col-link-active;
  text-decoration: none;
}

h1 {
  font-size: $font-43-5px;
  line-height: 1.2;
}

h2 {
  font-size: $font-36px;
  line-height: 1.2;
}

h3 {
  font-size: $font-35px;
  line-height: 1.2;
}

h4 {
  font-size: $font-29px;
  line-height: 1.2;
}

h5 {
  font-size: $font-24-5px;
  line-height: 1.2;
}

h6 {
  font-size: $font-20px;
  line-height: 1.2;
}

.rich-text {
  ul {
    list-style: disc;
    margin-left: 20px;

    li:before {

    }
  }

  ol {
    list-style: decimal inside;
  }

  a {
    color: $col-link-active-rich-text;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }
}

strong {
  font-weight: bold;
}
