html {
  color: $col-text-primary;
  font-size: 23px;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include respond-to('small') {
    font-size: 23px;
  }

}

a {
  color: $col-link-active;
  text-decoration: none;
}

h1 {
  font-size: $font-60px;
  line-height: 1.2;
  font-family: $font-bold;

  @include respond-to('small') {
    font-size: $font-26px;
  }

}

h2 {
  font-size: $font-33px;
  line-height: 1.2;
  font-family: $font-bold;

  @include respond-to('small') {
    font-size: $font-21px;
    line-height: 1.4;
  }
}

h3 {
  font-size: $font-16px;
  line-height: 1.2;
  font-family: $font-bold;

  @include respond-to('small') {
    font-size: $font-13px;
  }
}

.rich-text {
  p {
    font-size: $font-22px;
    font-family: $font-bold;

    @include respond-to('small') {
      font-size: $font-15px;
      line-height: 1.7;
    }
  }

  ul {
    list-style: disc;
    margin-left: 20px;

    li:before {

    }
  }

  ol {
    list-style: decimal inside;
  }

  a {
    color: $col-link-active-rich-text;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }
}

strong {
  font-weight: bold;
}

.bg-black {
  background-color: $wepub-col-grey-black !important;
}

.bg-turquoise {
  background-color: $wepub-col-turquoise !important;
}

.bg-white {
  background-color: $theme-col-white !important;
}

.bg-grey {
  background-color: $wepub-col-mid-grey !important;
}

.color-turquoise {
  color: $wepub-col-turquoise !important;
}

.color-black {
  color: $wepub-col-grey-black !important;
}

.color-white {
  color: $theme-col-white !important;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}