html {
  color: $col-text-primary;
  font-size: 21px;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include respond-to('small') {
    font-size: 18px;
  }

}

a {
  color: $col-link-active;
  text-decoration: none;
}

h1 {
  font-size: $font-60px;
  line-height: 1.2;
  font-family: $font-bold;
}

h2 {
  font-size: $font-33px;
  line-height: 1.2;
  font-family: $font-bold;
}

h3 {
  font-size: $font-16px;
  line-height: 1.2;
  font-family: $font-bold;
}

.rich-text {
  p {
    font-size: $font-22px;
    font-family: $font-bold;
  }

  ul {
    list-style: disc;
    margin-left: 20px;

    li:before {

    }
  }

  ol {
    list-style: decimal inside;
  }

  a {
    color: $col-link-active-rich-text;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }
}

strong {
  font-weight: bold;
}

.bg-black {
  background-color: $wepub-col-grey-black;
}

.bg-turquoise {
  background-color: $wepub-col-turquoise;
}

.bg-white {
  background-color: $theme-col-white;
}

.bg-grey {
  background-color: $wepub-col-mid-grey;
}

.color-turquoise {
  color: $wepub-col-turquoise;
}

.color-black {
  color: $wepub-col-grey-black;
}

.color-white {
  color: $theme-col-white;
}

