$nav-margin-bottom: 26.5px;
$nav-margin-large: 62px;
$nav-margin-bottom-small: 44px;

$meta-nav-padding-large: 38px;
$meta-nav-mobile-margin-bottom: 2px;

$navigation-main-margin-top: 90px;

$close-navigation-right: 115px;
$close-navigation-top: 92px;
$close-navigation-right-small: 24px;

$navigation-text-padding-bottom: 15px;
$navigation-burger-wrapper-hight: 62px;

$navi-line-width: 117.5px;
$navi-line-height: 2.2px;
$navi-line-padding-top: 22px;

$col-nav-buttons: $theme-col-blue;
$col-nav-meta-language: $theme-col-black;

$null: 0px;

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;

  @include respond-to('small') {
    width: 100%;
    overflow: hidden;
  }

  &.is-expanded {
    z-index: $layer10;
    width: 100%;
    transition-duration: $transition-time-short;
    height: 100%;

    @include respond-to('small') {
      height: 100%;
    }

  }
}

.navigation-main {
  margin-top: $navigation-main-margin-top;
}

.navigation-title {
  display: flex;
  justify-content: space-between;
  max-width: 966px;
  margin: 0 auto;
  align-items: flex-start;

  @extend .content-padding-desktop;

  .navi-placholder {
    width: 24px;
  }

  .naviOpen-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    .navi-text-wrapper {
      display: flex;

      #naviOpen-text-small {
        font-size: $font-29px;
        line-height: 1.3;
      }

      #naviOpen-text-big {
        font-size: $font-35px;
        font-weight: bold;
      }
    }
  }
}

.navigation-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;

  @include respond-to('small') {
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    margin-right: 0% !important;
    margin-left: 0% !important;
    overflow-y: auto;
    height: 100%;
  }

}

.navigation-header {
  $marginTop: 0px;
  position: relative;
  margin: $marginTop auto 0;
  transition: padding-left $transition-time-short;
  height: $null;
  max-width: $null;

  @include respond-to('small') {
    height: $null;
    max-width: $null;
  }
}

.navigation-content {
  position: absolute;
  transition: padding-left $transition-time-short;
  margin: 0 auto;
  background: white;
  right: 0;
  width: 100%;
  margin-right: $null;
  //height: auto;
  height: 100vh;

  @include respond-to('small') {
    width: 100%;
    margin-right: $null;
    height: auto;
    min-height: 100%;
  }
}

.closeNavigation {
  cursor: pointer;
}

.navigation-text-content {
  .rich-text {
    color: $theme-col-white;
    font-size: $font-14-5px;
    line-height: 1.9;
    padding-bottom: $navigation-text-padding-bottom;
  }

  a {
    color: white;
  }

}

.menu-content {
  background-color: $navigation-color;
  display: flex !important;
}

.noHeader {
  background-color: $navigation-color;
  display: flex !important;
}

#navigation-text {
  display: none;

  #scroll-text-small {
    font-size: $font-20px;
    line-height: 1.3;
  }

  #scroll-text-big {
    font-size: $font-24-5px;
    font-weight: bold;
  }
}

.navigation-burger-wrapper {
  display: flex;
  justify-content: space-between;
  width: $max-content-width;
  margin: 0 auto;
  height: $navigation-burger-wrapper-hight;
  align-items: center;

  @extend .content-padding-desktop;

}

div.icon-naviBurger:before, div.icon-naviBurgerClose:before {
  font-weight: bold !important;
}

.navigation-burger {
  position: fixed;
  z-index: $layer9;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.is-expanded .navigation-burger {
  text-shadow: none;

  @include respond-to('small') {
    left: 0;
  }
}

.navigation-icon-open {
  cursor: pointer;
  height: 19px;
}

.navigation-icon-close {
  cursor: pointer;
  height: 24px;
  padding-top: 4px;
}

.is-expanded .content_img {
  display: none;
}

.is-expanded .navigation-header {
  height: 0;
  z-index: 999999999;
}

.navigation-nodes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: $nav-margin-large;
  margin-bottom: $nav-margin-bottom;

  @include respond-to('small') {
    margin-top: $nav-margin-bottom-small;
    margin-bottom: 0px;
  }

  .navigation-top {
    position: relative;
    display: flex;
    align-items: center;
    color: $theme-col-black;
    line-height: 1.5;
    font-family: $font-default;
    font-size: $font-24-5px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;

    @include respond-to('small') {
      font-size: $font-19px;
      line-height: 2.5;
    }
  }
}

.navigation-meta {
  display: flex;
  justify-content: center;
  padding-bottom: $nav-margin-bottom-small;

  ul, li {
    display: inline-block;
    padding-right: 14px;
  }

  a {
    color: $col-nav-meta-language;
    font-weight: normal;
  }

  .navigation-languages {
    a.active {
      color: $theme-col-black !important;
    }
  }

  .navigation-languages {
    color: $theme-col-black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-15px;

    li {
      padding-right: 5px;
    }

    li:last-of-type {
      padding-right: 0px;
    }

    @include respond-to('small') {
      width: 100%;
      margin-bottom: $meta-nav-mobile-margin-bottom;
      line-height: 3.2;
      display: flex;
      justify-content: center;
    }
  }

  span {
    color: $col-nav-meta-language;
    margin-left: $meta-nav-padding-large;

  }
}

#navigation a.active {
  color: $theme-col-mud-dark;
  font-weight: bold;

  &:before {
    color: $theme-col-blue;
  }
}

.navi-border-bottom {
  padding-top: $navi-line-padding-top;
  width: $navi-line-width;
  border-bottom: $navi-line-height solid black;
}
