$teaserSpot-wrapper-padding-top: 73px;
$teaserSpot-img-padding-bottom: 18.5px;
$teaserSpot-text-padding-bottom: 14px;

$teaserSpot-line-width: 82.6px;
$teaserSpot-line-height: 0.85px;

.teaserSpot-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: $teaserSpot-wrapper-padding-top;
  flex-wrap: wrap;

  @extend .content-padding-desktop;
}

.teaserSpot-content {
  text-align: center;

  @include respond-to('small') {
    width: 100%;
  }
}

.teaserSpot-img {
  padding-bottom: $teaserSpot-img-padding-bottom;

  @include respond-to('small') {
    padding-top: $teaserSpot-img-padding-bottom;
    padding-bottom: 30px;

    img {
      width: 60%;
    }
  }
}

.teaserSpot-text {
  padding-bottom: $teaserSpot-text-padding-bottom;

  @include respond-to('small') {
    padding-bottom: 50px;
  }
}