$footer-margin-top: 100px;
$footer-padding-top: 45px;
$footer-padding-bottom: 34px;
$footer-left-padding-bottom: 24.5px;

$footer-padding-bottom-mobile: 50px;

$footer-line-width: 82.6px;
$footer-line-height: 1.2px;

$li-padding: 5px;
$padding-null: 0px;

#footer {
  background: $wepub-col-grey-black;

  @extend .content-padding-desktop;
}

.footer-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: $wepub-col-dark-mid-grey;
  padding-left: 44px;
  padding-right: 44px;

  @include respond-to('small') {
    flex-direction: column;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .footer-right {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;
    width: 33%;

    @include respond-to('small') {
      width: 100%;
      align-items: center;
      flex-direction: column;
      order: 1;

      h3 {
        order: 2;
        padding-top: 10px;
      }
    }

    .footer-img {
      padding-left: 15px;
      height: 40px;

      @include respond-to('small') {
        padding-left: 0px;
      }
    }
  }

  .footer-center {
    display: flex;
    justify-content: center;
    width: 33%;

    @include respond-to('small') {
      order: 2;
      width: 100%;
    }
  }

  .footer-left {
    width: 33%;
    @include respond-to('small') {
      order: 3;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .rich-text {
      padding-bottom: $footer-left-padding-bottom;
      font-size: $font-15px;
      line-height: 1.4;
    }

    .footer-border-bottom {
      width: $footer-line-width;
      border-bottom: $footer-line-height solid white;
    }
  }
}

.languages-footer {
  display: inline-block;
  text-transform: uppercase;
  font-size: $font-15px;

  @include respond-to('small') {
    padding-top: 10px;
  }

  ul, li {
    display: inline-block;
  }

  li {
    padding-right: $li-padding;
  }

  li:last-of-type {
    padding-right: $padding-null;
  }
}

a {
  color: $theme-col-white;
  text-decoration: none;
}

.active {
  font-weight: bold;
}


