$teaserSpot-wrapper-padding-top: 73px;
$teaserSpot-img-padding-bottom: 33px;
$teaserSpot-text-padding-bottom: 14px;

$teaserSpot-line-width: 82.6px;
$teaserSpot-line-height: 0.85px;

.teaserSpot-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: $teaserSpot-wrapper-padding-top;
  flex-wrap: wrap;

  @include respond-to('small') {
    padding-top: 0px;
  }

  @extend .content-padding-desktop;
}

.teaserSpot-content {
  text-align: center;

  @include respond-to('medium') {
    width: 100%;
    padding-bottom: 60px;
  }

  @include respond-to('small') {
    width: 100%;
  }
}

.teaserSpot-content:first-of-type {
  @include respond-to('small') {
    padding-top: 33px;
  }
}

.teaserSpot-img {
  padding-bottom: $teaserSpot-img-padding-bottom;

   @include respond-to('medium') {
     padding-bottom: 20px;
   }

  @include respond-to('small') {
    padding-bottom: 30px;

    img {
      width: 159px;
    }
  }
}

.teaserSpot-text {
  padding-bottom: $teaserSpot-text-padding-bottom;

  h3 {
    color: $wepub-col-dark-mid-grey;
  }

  @include respond-to('small') {
    padding-bottom: 60px;
  }
}