.block-spacer {
  position: relative;
}

.spacer-line {
  width: 4px;
  margin: 0 auto;
}

.spacer-desktop {
  display: flex;
  margin-bottom: -1px;
  margin-top: -1px;

  @include respond-to('small') {
    display: none;
  }
}

.spacer-mobile {
  display: none;

  @include respond-to('small') {
    display: block;
    margin-bottom: -1px;
    margin-top: -1px;
  }

  #spacer-line-mobile {
    width: 3px !important;
  }
}