$teaserSpot-wrapper-padding-top: 73px;
$teaserSpot-img-padding-bottom: 18.5px;
$teaserSpot-text-padding-bottom: 14px;

$teaserSpot-line-width: 82.6px;
$teaserSpot-line-height: 0.85px;

.download-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @extend .content-padding-desktop;
}

.download-content {
  text-align: center;

  @include respond-to("small") {
    width: 100%;
  }
}

.download-img-container {
  width: 279px;
  height: 279px;
  background-color: $wepub-col-light-grey;
  border-radius: 100%;

  @include respond-to("small") {
    width: 159px;
    height: 159px;
    margin: 0 auto;
  }
}

.download-text {
  padding-bottom: $teaserSpot-text-padding-bottom;
  padding-top: 50px;
  line-height: 1.6;

  a {
    color: $theme-col-real-black;
  }

  @include respond-to("small") {
    padding-top: 25px;
    padding-bottom: 52px;
  }
}

.download-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  @include respond-to("small") {
    img {
      height: 55px;
    }
  }
}

.download-img-div {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-arrow {
  opacity: 0;
  display: none;
}

.download-img-container {
  .download-arrow {
    position: relative;
    animation: moveUpArrow 0.2s;
    animation-fill-mode: forwards;
    display: none;
  }

  .download-img {
    position: relative;
    animation: moveUpImg 0.2s;
    animation-fill-mode: forwards;
  }

  .document {
    width: 75px;
    height: 102.9px;
  }

  .folder {
    width: 96.5px;
    height: 78.9px;
  }
}

@keyframes moveUpArrow {
  100% {
    opacity: 0;
    top: 1px;
  }

  0% {
    top: 100px;
    opacity: 1;
  }
}

@keyframes moveUpImg {
  100% {
    opacity: 1;
    top: 1px;
  }

  40% {
    opacity: 0;
  }

  0% {
    top: 100px;
    opacity: 0;
  }
}

.download-img-container:hover {
  .download-arrow {
    position: relative;
    animation: moveDownArrow 0.2s;
    animation-fill-mode: forwards;
    display: block;

    @include respond-to("small") {
      position: relative;
      animation: moveDownArrowMobile 0.2s;
      animation-fill-mode: forwards;
      display: block;
    }
  }

  .download-img {
    position: relative;
    animation: moveDownImg 0.2s;
    animation-fill-mode: forwards;
  }
}

@keyframes moveDownArrow {
  0% {
    opacity: 0;
    top: 0px;
    display: flex;
  }

  100% {
    top: 70px;
    opacity: 1;
  }
}

@keyframes moveDownImg {
  0% {
    opacity: 1;
    top: 1px;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100px;
    opacity: 0;
  }
}

@keyframes moveDownArrowMobile {
  0% {
    opacity: 0;
    top: 0px;
    display: flex;
  }

  100% {
    top: 50px;
    opacity: 1;
  }
}
