$header-padding-top: 107.5px;
$header-padding-bottom: 25px;
$header-border-padding-bottom: 147.5px;
$header-border-padding-top: 20.5px;

.header-background {
  background-size: cover;
  height: 656px;
  background-repeat: no-repeat;
  background-position: bottom;
  max-height: 850px;
}

.header-wrapper {
  max-width: $max-content-width;
  margin: 0 auto;
  padding-bottom: $header-border-padding-bottom;
  padding-top: $header-border-padding-top;

  @extend .content-padding-desktop;
}

.header-content {
  padding-top: $header-padding-top;
  padding-bottom: $header-padding-bottom;
  color: $theme-col-white;
}

.header-border-bottom {
  width: 145px;
  border-bottom: 2.2px solid white;
}
