$teaserSpot-wrapper-padding-top: 73px;
$teaserSpot-img-padding-bottom: 18.5px;
$teaserSpot-text-padding-bottom: 14px;

.teaserSpot-wrapper {
  max-width: $max-content-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: $teaserSpot-wrapper-padding-top;
  flex-wrap: wrap;

  @extend .content-padding-desktop;
}

.teaserSpot-content {
  text-align: center;
  width: 33%;

  @include respond-to('small') {
    width: 100%;
  }
}

.teaserSpot-img {
  padding-bottom: $teaserSpot-img-padding-bottom;

  @include respond-to('small') {
    padding-top: $teaserSpot-img-padding-bottom;
  }
}

.teaserSpot-text {
  padding-bottom: $teaserSpot-text-padding-bottom;
}

.teaserSpot-border-bottom {
  width: 82.6px;
  border-bottom: 0.85px solid black;
  margin: 0 auto;
}