$header-padding-top: 107.5px;
$header-padding-bottom: 25px;
$header-border-padding-bottom: 147.5px;
$header-border-padding-top: 20.5px;

$header-line-width: 145px;
$header-line-height: 2.2px;

.header-container{
  background-color: $wepub-col-grey-black;
}

.header-background {
  //Todo maybe baby
  padding-top: 34px;
  max-width: 1600px;
  margin: 0 auto;


  //background-size: cover;
  //height: 656px;
  //background-repeat: no-repeat;
  //background-position: center;

  @include respond-to('small') {
    padding-top: 39px;
  }

  .block-iframe {
    position: relative;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  @include respond-to('small') {
    height: auto;
  }
}

.header-wrapper {
  max-width: $max-content-width;
  margin: 0 auto;
  padding-bottom: $header-border-padding-bottom;
  padding-top: $header-border-padding-top;

  @extend .content-padding-desktop;
}

.header-content {
  padding-top: $header-padding-top;
  padding-bottom: $header-padding-bottom;
  color: $theme-col-white;
}

.header-border-bottom {
  width: $header-line-width;
  border-bottom: $header-line-height solid white;
}

