$richText-wrapper-padding-top: 50px;
$richText-content-padding-top: 11px;

$richText-block-padding-left-right: 2.5%;

$padding-null: 0px;

.richText-wrapper {
  max-width: $max-content-width;
  margin: 0 auto;
  padding-top: $richText-wrapper-padding-top;

  @extend .content-padding-desktop;
}

.richText-content {
  display: flex;
  padding-top: $richText-content-padding-top;

  @include respond-to('small') {
    flex-direction: column;
  }

  .richText-block {
    box-sizing: border-box;

    .rich-text {
      font-size: $font-16px;
      line-height: 1.3;
    }
  }

  .left {
    padding-right: $richText-block-padding-left-right;

    @include respond-to('small') {
      padding: $padding-null;
    }
  }

  .right {
    padding-left: $richText-block-padding-left-right;

    @include respond-to('small') {
      padding: $padding-null;
    }
  }

}
